[Unit]
Description=OpenIPC GS init
After=getty@tty1.service network.target

[Service]
ExecStart=/home/radxa/gs/gs-init.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
