[Unit]
Description=Single Board Computer Ground Station Main Service
After=network.target gs-init.service

[Service]
ExecStart=/home/radxa/gs/gs.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
